.alliancePanel {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
}

.alliancePanel > header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    flex: 0 0 auto;
}

.allianceInfo > h1 {
    display: inline-block;
    font-size: 150%;
    font-weight: bold;
    margin: 0;
    width: max-content;
}

.keyStats {
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.keyStat {
    display: inline-block;
}

.listAction {
    display: inline-block;
    padding: 3px 10px;
    border: 2px solid #ddd;
    border-radius: 2px;
    font-weight: bold;
    text-decoration: none;
}

.listAction,
.listAction:visited {
    color: #ddd;
}

.listAction:hover {
    background-color: #ddd;
    color: #222;
}

.subPanel {
    flex: 1 1 0;
    flex-basis: 0;
    display: flex;
    flex-flow: row wrap;
    column-gap: 50px;
    overflow: hidden scroll;
}

.subPanel > section {
    flex: 1 0 auto;
    max-width: 500px;
}

.subPanel label {
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    width: 300px;
}

.subPanel label > span {
    display: inline-block;
    min-width: 100px;
    flex: 1 0 auto;
}
