.navBar {
    width: 100%;
}

.navBar > ul {
    width: 100%;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-size: 150%;
    color: #aaa;
}

.navBar > ul > li {
    display: block;
    text-transform: uppercase;
}

.appName {
    font-size: 150%;
    padding: 10px 30px;
}

.byline {
    display: block;
    font-size: 50%;
    text-decoration: italic;
    text-align: center;
}

.navItem {
    cursor: pointer;
}

.navItem > a {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
}

.navItem > a,
.navItem > a:visited {
    color: #aaa;
}

a.active,
a.active:visited {
    font-weight: bold;
    color: #eee;
}

.navItem > a:hover {
    background-color: #666;
    color: #000;
}

a.active:hover {
    color: #eee;
}

.subNav {
    flex: 1 1 auto;
    border-left: 2px solid #ddd;
}

.subNav > ul {
    display: flex;
    flex-flow: row wrap;
    column-gap: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: fit-content;
}

.subNav li {
    flex: 0 0 auto;
}

.subNav a {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.subNav a,
.subNav a:visited {
    color: #ddd;
}

.subNav a.active,
.subNav a.active:visited {
    font-weight: bold;
    color: #eee;
}

.subNav a:hover {
    background-color: #666;
    color: #000;
}

.subNav a.active:hover {
    color: #eee;
}
