.chiefPanel {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chiefPanel > header {
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    flex: 0 0 auto;
}

.chiefPanel > header > h2 {
    font-size: 150%;
    font-weight: bold;
    padding-left: 10px;
}

.keyStats {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 10px;
    flex: 1 0 auto;
    align-items: center;
}

.keyStat {
    display: inline-block;
}

.chiefPanel > section {
    flex: 1 1 0;
    overflow: scroll;
}

.detailSections {
    display: flex;
    flex-flow: row wrap;
    column-gap: 50px;
    padding: 0 10px;
}

.chiefEditor {
    padding: 0 10px;
}

.chiefEditor label {
    display: block;
}

.chiefEditor label > span {
    display: inline-block;
    width: 275px;
}

.chiefEditorGearList {
    list-style-type: none;
    padding: 0;
}

.chiefEditorGearList select {
    width: 175px;
}

.chiefEditorHeroGearList {
    list-style-type: none;
    padding: 0;
}

.chiefEditorHeroGearList select {
    width: 300px;
}

